<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="show_sql">true</property>
		<!-- 配置JDBC Driver -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 配置数据库连接URL-->
		<property name="connection.url">jdbc:mysql://localhost:3306/student_zc</property>
		<!-- 配置数据库用户名 -->
		<property name="connection.username">qingke</property>
		<!-- 配置数据库用户密码 -->
		<property name="connection.password">chaos</property>
		<!-- 配置Hibernate使用的数据库方言 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 一种 ：resource="student.hbm.xml" -->
		<mapping class="qk1027.Student" />
		<mapping class="qk1027.apartment" />
		<mapping class="qk1027.academy_year" />
	</session-factory>
</hibernate-configuration>