<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>qk1117-jsp-uploadfile</display-name>
  <servlet>
  	<servlet-name>Uploadfile</servlet-name>
  	<servlet-class>uploadservlet.Uploadfile</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Uploadfile</servlet-name>
  	<url-pattern>/uploadfile</url-pattern>
  </servlet-mapping>
</web-app>